<div class=" flex items-center justify-center gap-2">
    <div class="flex items-center justify-center">
       <mat-icon>person</mat-icon>
     
    </div>
        <p class="text-xl font-semibold my-4">Add User</p>
</div>
<form class="flex flex-col gap-4 px-[5rem] items-center">
    <div class="flex gap-4 w-full" >

        <div class="flex flex-col w-full">
            <label>User Name:</label>
            <input type="text" class="border border-gray-300 p-2 rounded-lg" placeholder="Ex. Will Byers">
        </div>
        <div class="flex flex-col w-full">
            <label>Workout Type:</label>
            <input type="text" class="border border-gray-300 p-2 rounded-lg" placeholder="Ex. Cycling, Yoga ">
        </div>
        <div class="flex flex-col w-full">
            <label>Workout Minutes:</label>
            <input type="text" class="border border-gray-300 p-2 rounded-lg" placeholder="Ex. 30, 40">
        </div>
    </div>
    <div>
        <button type="submit" class="border bg-blue-300 px-8 py-3 rounded-full hover:bg-blue-400">Add</button>
    </div>
</form>